html {
  font-size: $fontsize-html;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
main, header, footer,
section, article, aside,
div,
h1, h2, h3, h4, h5, h6,
p, ul, ol, li,
figure, figcaption {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  background-color: #fff;
  color: #222;
  font-family: "Inter", Arial, Helvetica, sans-serif;

  font-size: 1em * ($fontsize-body/$fontsize-html);
  line-height: 1em * ($lineheight-body/$fontsize-body);
  font-weight: normal;
}

a {
  color: $purple;
  text-decoration: none;
  border-bottom: solid 2px;

  &.a-ext:after {
    content: '↗';
    margin-left: .136363636363636em;
    position: relative;
    top: .2272727273em;
  }

  &.a-ext:hover:after {
    top: 0;
    left: .2272727273em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1em;
}

small {
  font-size: 1em;
}

p, ol, ul {
  margin-bottom: 1em;

  &.nomargin {
    margin: 0
  }
}



ol, ul {
  padding-left: 1.5em;

  ol, ul {
    padding-left: 1.5em;
    margin-bottom: 0;
  }
}

li {
  margin-bottom: .5em;
}

ol { list-style-type: decimal }

$ul-marker-width: 1em;
ul {
  list-style-type: none;
  text-indent: -1 * $ul-marker-width;

  > li {
    &:before {
      content: '•';
      box-sizing: border-box;
      display: inline-block;
      width: $ul-marker-width;
      text-align: center;
    }
  }
}

ul.list-marker-heart > li {
  &:before       { content: '♡' }
  &:hover:before { content: '♥' }
}

ul.list-marker-star > li {
  &:before       { content: '☆' }
  &:hover:before { content: '★' }
}

ul.list-marker-sun > li {
  &:before       { content: '☼' }
  &:hover:before { content: '☀' }
}

ul.list-marker-check > li {
  &:before       { content: '✓' }
  &:hover:before { content: '▢' }
}

ul.list-marker-down > li {
  &:before       { content: '↓' }
  &:hover:before { position: relative; top: .18181818em }
}

ul.list-marker-rarr > li {
  &:before       { content: '→' }
  &:hover:before { content: '⟶'; width: calc($ul-marker-width - .318181818em); padding-left: .318181818em }
  // &:hover:before { content: '⟶'; padding-right: .181818182em }
}



.h1 {
  font-size: 1em * (66px/$fontsize-body);
  line-height: 1em * (72px/66px);
}

.h2 {
  font-size: 1em * (44px/$fontsize-body);
  line-height: 1em * (52px/44px);
}

.h3 {
  font-size: 1em * (33px/$fontsize-body);
  line-height: 1em * (42px/33px);
}

.h1, .h2, .h3 {
  color: #333;
}

.purple { color: $purple }
.orange { color: $orange }

.gradient {
  background: -webkit-linear-gradient(120deg, $purple, $orange);
  background: linear-gradient(120deg, $purple, $orange);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

.sup {
  font-feature-settings: 'sups' 1
}



@media (min-width: $screen-md-min){
  ol, ul {
    padding-left: 3em;
  }
}
